apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: test-component--bygu
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: test-component--bygu
    app.kubernetes.io/part-of: test-app-kdyj
  name: test-component--bygu
  namespace: e2e-test-pipelines-ydep
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: test-component--bygu
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: test-component--bygu
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/test-images:e0821a2a786a493c9f350b305d1add66
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /
            port: 8081
          initialDelaySeconds: 10
          periodSeconds: 10
        name: container-image
        ports:
        - containerPort: 8081
        readinessProbe:
          initialDelaySeconds: 10
          periodSeconds: 10
          tcpSocket:
            port: 8081
        resources: {}
status: {}
